<p class="text-center fs-4 fst-italic">Ask your coach anything:</p>
<form class="text-center" action="answer" data-turbo="false">
  <input type="text" name="question">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
